%h1 Quizzes

= will_paginate

%ul.index
  - @quizzes.each do |quiz|
    %li
      .quiz_container
        = link_to quiz.title, quiz, id: quiz.id, name: quiz.id
        = link_to "Play", new_quiz_attempt_path(quiz)
        = link_to "Play Multiplayer", new_quiz_multiplayer_attempt_path(quiz)

= will_paginate 