%h1 Sign in

.row
  .form
    =form_for :session, url: sessions_path do |f|

      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.password_field :password

      = f.submit "Sign in", class: "submit_button"

%p 
  New user? 
  = link_to "Sign up now!", signup_path